<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create department</title>
</head>
<body>
<form action="#" th:action="@{/department-update}" th:object="${department}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title">
    <br/>
    <label for="leader">Leader</label>
    <input type="text" th:field="*{leader}" id="leader" placeholder="Leader">
    <br/>
    <input type="submit" value="Update department">
</form>
</body>
</html>