<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Workers</title>
</head>
<body>
<div th:switch="${workers}">
    <h2 th:case="null">No workers found!</h2>
    <div th:case="*">
        <h2>Workers</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Department ID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="worker : ${workers}">
                <td th:text="${worker.id}"></td>
                <td th:text="${worker.firstName}"></td>
                <td th:text="${worker.lastName}"></td>
                <td th:text="${worker.department_id}"></td>
                <td><a th:href="@{worker-update/{id}(id=${worker.id})}">Edit</a></td>
                <td><a th:href="@{worker-delete/{id}(id=${worker.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/worker-create">Create worker</a></p>
</div>
</body>
</html>